body{background-color: #e2e2e2;}
#top{width: 965px; height: 80px; font-family:Arial; font-size: 40px; padding-left: 180px;margin-top: 10px;}
#main{width:965px; height: 500px; background-color: #fff;margin:0 auto;border-radius:25px;}
#left{ width: 241px; float: left;background-color: #fff;margin-top: 80px;margin-left: -40px;position: relative;}
#left li{ background: url("../img/libg.gif") no-repeat; background-position:-55px 0; width: 241px; height: 57px;list-style: none;border-bottom: 1px #fff solid;color: #fff;text-align: center;font:bold 18px Arial;line-height: 57px;position: absolute;}
#right{width:337px; float: left;background-color: #fff; font-family: Arial;padding:80px 0 0 50px;height: 276px;}
#right div{width:100%;margin-bottom:10px;}
#right span{width:100px; margin-left:20px;}
#submit{margin-right: 50px;background-color: #e2e2e2;width: 100px; height: 50px; border-radius: 10px; font: bold 18px Arial;color: #000;}
input{margin-bottom: 10px;}
select{margin-bottom: 10px;}
.success{margin-left:200px;}
#Regright{width:337px; float: left;background-color: #fff; font-family: Arial;padding:80px 0 0 50px;height: 276px; text-align:right;}
w